.comp01 {
    border: 1px solid red;
    color:blue;
    font-size: 18px;
    margin-bottom: 20px;
}

.comp01_content {
    background: cyan;
    color: grey;
    font-size: 14px;
    height:50px;
}

.comp02 {
    margin-top:30px;
    border: 5px dotted green;
    color:magenta;
    font-size: 28px;
    margin-bottom: 20px;
}

.comp02_content {
    padding-top:20px;
    background: yellow;
    color: blue;
    font-size: 14px;
    height:70px;
}
